<form method="post" action="{{ path('app_parent_entity_delete', {'id': parent_entity.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ parent_entity.id) }}">
    <button class="btn">Delete</button>
</form>
