{{ form_start(form) }}

{{ form_widget(form) }}


<button type="button"
        class="add-another-collection-widget"
        data-list-selector="#form_childEntities">
    Add another child
</button>

<button class="btn btn-success">
    {{ button_label|default('Save') }}
</button>

{{ form_end(form) }}

<script src="/collection-widget.js"></script>
