{% extends 'base.html.twig' %}

{% block title %}Edit ParentEntity{% endblock %}

{% block stylesheets %}

    {{ parent() }}

{% endblock %}


{% block body %}
    <h1>Edit ParentEntity</h1>

    {{ include('parent_entity/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_parent_entity_index') }}">back to list</a>

    {{ include('parent_entity/_delete_form.html.twig') }}
{% endblock %}
