{% extends 'base.html.twig' %}

{% block title %}ParentEntity index{% endblock %}

{% block body %}
    <h1>ParentEntity index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for parent_entity in parent_entities %}
            <tr>
                <td>{{ parent_entity.id }}</td>
                <td>{{ parent_entity.name }}</td>
                <td>
                    <a href="{{ path('app_parent_entity_edit', {'id': parent_entity.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_parent_entity_new') }}">Create new</a>
{% endblock %}
