{% extends 'base.html.twig' %}

{% block title %}New ParentEntity{% endblock %}

{% block body %}
    <h1>Create new ParentEntity</h1>

    {{ include('parent_entity/_form.html.twig') }}

    <a href="{{ path('app_parent_entity_index') }}">back to list</a>
{% endblock %}
