{% extends 'base.html.twig' %}

{% block title %}ParentEntity{% endblock %}

{% block body %}
    <h1>ParentEntity</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ parent_entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ parent_entity.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_parent_entity_index') }}">back to list</a>

    <a href="{{ path('app_parent_entity_edit', {'id': parent_entity.id}) }}">edit</a>

    {{ include('parent_entity/_delete_form.html.twig') }}
{% endblock %}
