{% extends 'base.html.twig' %}

{% block title %}Git repositories{% endblock %}

{% block body %}
    <h1>All of repositories</h1>
    <table class="table table-stripped table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Owner</th>
            <th>FullName</th>
        </tr>
        </thead>
        <tbody>
        {% for row in data %}
            <tr>
                <td><a href="{{ row['html_url'] }}">{{ row['name'] }}</a></td>
                <td>{{ row['owner']['login'] }}</td>
                <td>{{ row['full_name'] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}