{% extends 'base.html.twig' %}

{% block title %}Cairosoft recruiting task{% endblock %}

{% block body %}
    <p>Witaj, w nawiązaniu do rozmowy:</p>

    <p>Tak jak rozmawialiśmy, potrzebujemy 'krótki' test umiejętności. Ważne: Proszę dokładnie przeczytać opis. Proszę
        się nie skupiać zbytnio na wyglądzie.</p>

    <p>Proponuję coś takiego:</p>
    <ol>
        <li>
            - Utworzenie i dostęp do GIT-a testowego repozytorium w trybie read np. Github lub Bitbucket.
            - Instalacja Symfony 5
        </li>
        <li>

            - Połączenie i autoryzacja z API jednej z popularnych usług, typu:
            Youtube(https://developers.google.com/youtube/v3/docs/), Github(https://developer.github.com/v3/) lub inny
            serwis.
            Login i hasło do powinny być do uzupełnienia w parametrach po instalacji.
            Ważne. Połączenie i autoryzacja musi być zrealizowana na konkretnego użytkownika, tj. jeżeli jest to np:
            twitter to musi być możliwość dodania twitta przez to API.
            - Pobranie dowolnej listy, np: dla YT listę wideo lub playlist; w przypadku Github'a np. listę repozytoriów.
            - Wyświetlenie tej listy w prostej formie w widoku html.
        </li>

        <li>
            - Z pomocą framework'a Symfony, stworzenie dwóch dowolnych encji bazodanowych (Doctrine) w relacji
            jeden-do-wielu, np: Rodzic, dziecko.
            - Formularz wraz z widokiem html, zawierający możliwość dodania do bazy za jednym razem rodzica i kilkoro do
            niego przypisanych dzieci.
        </li>
    </ol>
    Pozdrawiam.
{% endblock %}